{% extends "base.html" %}

{% load static %}

{% block title %} О себе {% endblock%}

{% block content%}
    <div class="group1">
        <img class="foto" src="{% static 'image/sally.jpg' %}" alt="Салли">
        <ul class="list-unstyled">
            <li><h1>Sally</h1></li>
            <li><h3>Старший страшила</h3></li>
            <li>Данные сотрудника
                <ul>
                    <li>Адресс: г. Монстратоун ул. Первая ужастная д. 14</li>
                    <li>Телефон: +0 999 666 66 66</li>
                    <li>E-mail: sally@monsters.com</li>
                </ul>
            </li>
            <li>
                <p>Заслуженный работник корпорации монстров, ас в запугивании, идет на рекорд по количеству добытой энергии крика. Напарник и верный друг Майка. Обаятелен, чувствителен, отважен и даже слегка безбашенн, несмотря на внешнюю страшильность иногда бывает безобидней котенка.</p>
                <p>Является потомственным страшилой, его отец был легендарным страшилой. Салли и Майк познакомились в Университете Монстров, в котором Салли хоть и производил впечатление страшилы, откровенно не хотел учиться, боялся не оправдать своей фамилии. Был исключен из Университета Монстров за неуспеваемость, после этого вместе с Майком бросил вызов декану факультета запугивания, и учавствовал в чемпионате страшил, среди "нестрашных" монстров. Сжульничал, подстроив все так, чтобы Майк проходил испытание на тренажере на самом низком уровне сложности. Был исключен вторично, однако вместе с Майком поступил в корпорацию монстров сортировщиком почты, где быстро прошагал карьерный путь до страшилы. Страшила, которому удалось запугать взрослых, чем он произвел впечатление даже на декана Терзалес.</p>
            </li>
        </ul>
    </div>
{% endblock%}