{% extends "base.html" %}

{% block title %} {{title}} {% endblock%}

{% block content%}
    {% if new %}
        <div>
            <p>{{new.title}}</p>
            <p>{{new.description}}</p>
            <p>Опубликована: {{new.time_create}}</p>
            <p>Комментариев: {{new.cnt_commit}}</p>
            {% for commit in commits%}
                {% if commit.user %}
                    <p>Комментарий от: <a href="{% url 'users:profile' slug=commit.user.username %}">{{ commit.user_name }}</a></p>
                {% else %}
                    <p>Комментарий от: {{commit.user_name}}</p>
                {% endif %}
                <p>{{commit.description}}</p>
            {% endfor %}
        </div>
    {% else %}
        <div>
            <p>Что то пошло не так, вернитесь к новостям</p>
        </div>
    {% endif %}

    <div id="create_commit">
        <p>Оставить комментарий:</p>
        <form method="post">
            {% csrf_token %}
            {% if request.user.is_anonymous %}
                <div>
                    {{ form.user_name.label }}
                    {{ form.user_name }}
                </div>
            {% endif %}
            <div>
                {{ form.description.label }}
                {{ form.description }}
            </div>

            <button type="submit">Сохранить комментарий</button>
        </form>
    </div>

    <div>
        {% if request.user.is_superuser %}
        <a href="{% url 'core:new_update' pk=new.pk%}">Обновить новость</a>
        <a href="{% url 'core:new_delete' pk=new.pk%}">Удалить новость</a>
        {% endif %}
        <a href="{% url 'core:list_news' %}">Назад к новостям</a>
    </div>
{% endblock%}