{% extends "base.html" %}

{% block title %} {{title}} {% endblock%}

{% block content%}
    {% if test %}
        {% for task in test.tasks_list.all %}
            <div>
                <p>id задачи: {{task.pk}}</p>
                <p>условие: {{task.task}}</p>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <p>Что то пошло не так, вернитесь к списку тестов</p>
        </div>
    {% endif %}
    <div>
        {% if request.user.is_superuser %}
            <a href="#">Обновить тест</a>
            <a href="#">Удалить тест</a>
        {% endif %}
        <a href="{% url 'edu:list_tests' %}">Назад к списку тестов</a>
    </div>
{% endblock%}